.select-project {
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 110px 100px auto;
  grid-template-areas:
    'header header header'
    'left-panel new-project right-panel'
    'left-panel existing-project right-panel';

  justify-content: stretch;

  height: 100%;

  padding-bottom: 10px;

  font-family: 'sans-serif';
}

#new-project {
  grid-area: new-project;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: black;

  padding: 20px;
}

#existing-project {
  grid-area: existing-project;
  display: flex;
  background-color: white;
  color: black;
  padding: 20px;
  min-height: 300px;
}
