.konvajs-content {
  margin: auto;
}

.tagger {
  width: 100%;
}

.tagger canvas {
    box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.2),
                0px 2px 2px 1px rgba(0, 0, 0, 0.14),
                0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}
